<tr>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
  <td class="cell"><%= form.text_field :density, class:"input-cell"%></td>
  <td class="cell"><%= form.text_field :hardnessShA, class:"input-cell" %></td>
  <td class="cell"><%= form.text_field :hardnessShD, class:"input-cell" %></td>
  <td class="cell"><%= form.text_field :receipt_num, class:"input-cell" %></td>
  <td class="cell hidden"><%= form.hidden_field :brand_id, class:"input-cell" %></td>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
</tr>