<main class="container">
  <%= turbo_frame_tag "creator_dashboard_turbo_frame" do %>
    <%= form_with model: @brand, url: :brands, method: :get do |form| %>
      <div class="d-flex input-form-brand">
        <div class="side full">
          <div class="row mt--10">
            <button class="btn">BRANDS</button>
            <label class="label-name name">BRAND NAME:</label>
            <%= form.text_field :name, class: "input-field name" %>
            <%= form.hidden_field :id %>
            <label class="label-name use">USE:</label>
            <%= form.text_field :intended_use, class: "input-field use" %>
            <label class="label-name desc">DESC:</label>
            <%= form.text_field :description, class: "input-field desc" %>
          </div>
        </div>
        <div class="">
          <div class="">

          </div>
        </div>
      </div>
    <% end %>
    <div class="panel-tbl-brands">
      <%= form_with model: @brand_receipts, url: :brand_receipts do |form|   %>
        <table>
          <thead>
          <tr>
            <th>SELECT</th>
            <th>ID</th>
            <th>DENSITY</th>
            <th>SHORE A</th>
            <th>SHORE D</th>
            <th>RECEIPT NUMBER</th>
            <th>CREATED</th>
            <th>UPDATED</th>
          </tr>
          </thead>
          <tbody data-controller="radio-toggle">
          <% unless @brand_receipts.empty? %>
          <% @brand_receipts.each do |rec|%>
            <tr>
              <td class="cell read">
                <input type="checkbox"
                       id=<%= rec.brand_id %>
                         name='brands'
                       data-action="radio-toggle#toggle"
                       data-radio-toggle-target="radio"
                       <%= @brand_receipts.last.id == rec.id ? "checked" : ""%>
                  />
              </td>
              <td class="cell read"><%= rec.id %></td>
              <td class="cell read"><%= rec.density %></td>
              <td class="cell read"><%= rec.hardnessShA %></td>
              <td class="cell read"><%= rec.hardnessShD%></td>
              <td class="cell read"><%= rec.receipt_num %></td>
              <td class="cell read"><%= rec.created_at %></td>
              <td class="cell read"><%= rec.updated_at %></td>
            </tr>
          <% end %>
          <% end %>
          <% if @status_new_rec %>
            <tr>
              <td class="cell center">*</td>
              <td class="cell center">*</td>
              <td class="cell"><%= form.text_field :density, class:"input-cell"%></td>
              <td class="cell"><%= form.text_field :hardnessShA, class:"input-cell" %></td>
              <td class="cell"><%= form.text_field :hardnessShD, class:"input-cell" %></td>
              <td class="cell"><%= form.text_field :receipt_num, class:"input-cell" %></td>
              <td class="cell hidden"><%= form.hidden_field :brand_id, class:"input-cell" %></td>
              <td class="cell center">*</td>
              <td class="cell center">*</td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= form.submit if @status_new_rec%>
      <% end %>
    </div>
    <footer>
      <%= button_to "ADD NEW RECEIPT", :new_record_brands, class:"btn", method: :get %>
      <div class="form-btn-next-radio-toggle-controller">
        <%= button_to "NEXT TABLE", find_brand_receipts_url(id:@brand_receipts), class:"btn", method: :get %>
      </div>
    </footer>
  <% end %>
</main>