<main class="container">
  <%= turbo_frame_tag "creator_dashboard_turbo_frame" do %>
    <%= form_with model: @brand, url: :brands_creator_dashboards do |form| %>
    <div class="d-flex input-form-brand">
        <div class="side">
          <div class="row">
            <label class="label-name">BRAND NAME:</label>
            <%= form.text_field "", class: "input-field up-case" %>
          </div>
        </div>
        <div class="">
          <div class="">
            <button class="btn find">FIND</button>
          </div>
        </div>
    </div>
    <% end %>
    <div class="panel-tbl-brands">
      <table>
        <thead>
          <tr>
            <th>select</th>
            <th>id</th>
            <th>name</th>
            <th>intended use</th>
            <th>description</th>
            <th>calc cost</th>
            <th>created</th>
            <th>updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @table_brands.each do |rec|%>
            <td class="cell"><input type="checkbox"></td>
            <td class="cell"><%= rec.id %></td>
            <td class="cell"><%= rec.name %></td>
            <td class="cell"><%= rec.intended_use %></td>
            <td class="cell"><%= rec.desc %></td>
            <td class="cell"><%= rec.calculated_cost %></td>
            <td class="cell"><%= rec.created_at %></td>
            <td class="cell"><%= rec.updated_at %></td>
            <% end %>
          </tr>
          <% if @status_new_rec %>
          <tr>
            <%= form_with model:@brand, url: :brands_creator_dashboards do |form|   %>
            <td class="cell"></td>
            <td class="cell">*</td>
            <td class="cell"><%= form.text_field @brand.name%></td>
            <td class="cell"><%= form.text_field @brand.intended_use %></td>
            <td class="cell"><%= form.text_field @brand.desc %></td>
            <td class="cell"><%= form.text_field @brand.calculated_cost %></td>
            <td class="cell">*</td>
            <td class="cell">*</td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div data-controller="clipboard" data-clipboard-supported-class="clipboard--supported">
        PIN: <input data-clipboard-target="source" type="text" value="1234" readonly>
        <button data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</button>
      </div>
      <div data-controller="clipboard" data-clipboard-supported-class="clipboard--supported">
        PIN: <input data-clipboard-target="source" type="text" value="3578" readonly>
        <button data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</button>
      </div>
      <div data-controller="slideshow" data-slideshow-index-value>
        <button data-action="slideshow#previous"> ← </button>
        <button data-action="slideshow#next"> → </button>

        <div data-slideshow-target="slide">🐵</div>
        <div data-slideshow-target="slide">🙈</div>
        <div data-slideshow-target="slide">🙉</div>
        <div data-slideshow-target="slide">🙊</div>
      </div>
      <div data-controller="content-loader" data-content-loader-url-value="/messages.html" data-content-loader-refresh-interval-value="10000"></div>

    </div>
    <footer data-controller="hello">
      <%= button_to "NEW REC", :new_user_session, class:"btn btn-rec" %>
      <button class="btn btn-rec">SAVE REC</button>
      <button class="btn" data-action="hello#greet">NEXT</button>
    </footer>
  <% end %>
</main>