<main class="container">
  <%= turbo_frame_tag "creator_dashboard_turbo_frame" do %>
    <div class="dashboard">
    <table>
      <tr>
        <td>
          <button class="button-big">
            <%= link_to 'BRANDS', :brands, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'BRAND RECEIPTS', :brand_receipts, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'RECEIPTS', :receipts, method: :get%>
          </button>
        </td>
      </tr>
      <tr class="big-row">
        <td>
          <button class="button-big">
            <%= link_to 'SUPPLIERS', :suppliers, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'MATERIALS', :materials, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'TESTS', :tests, method: :get%>
          </button>
        </td>
    </table>
    </div>
  <% end %>
</main>