<main class="container">
  <%= turbo_frame_tag "creator_dashboard_turbo_frame" do %>
    <table>
      <tr>
        <td>
          <button class="button-big">
            <%= link_to 'BRANDS', :brands, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'BRAND RECEIPTS', :brand_receipts, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'RECEIPTS', :receipts_creator_dashboards, method: :get%>
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <button class="button-big">
            <%= link_to 'SUPPLIERS', :suppliers, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'TESTS', :tests_creator_dashboards, method: :get%>
          </button>
        </td>
        <td>
          <button class="button-big">
            <%= link_to 'MATERIALS', :materials_creator_dashboards, method: :get%>
          </button>
        </td>
    </table>
  <% end %>
</main>