<main class="container">
  <%= turbo_frame_tag "creator_dashboard_turbo_frame" do %>
    <% model = @update_record || @brand || @brands %>
    <%= form_with model: , url: :find_brand_brands do |form| %>
      <div class="d-flex input-form-brand">
        <div class="side">
          <div class="row">
            <label class="label-name">FIND WORD:</label>
            <%= form.text_field :name, class: "input-field", value:"" %>
          </div>
        </div>
            <button class="btn find">FIND</button>
        </div>
    <% end %>
    <div class="panel-tbl-brands">
      <%
        url =  create_brand_brands_path
        url =  create_brand_brands_path(id:@update_record) if @update_record
        method = :put if @update_record
      %>
      <%= form_with model: , url: , method: do |form|  %>
        <table>
          <thead>
          <tr>
            <th>select</th>
            <th>id</th>
            <th>name</th>
            <th>intended use</th>
            <th>description</th>
            <th>calc cost</th>
            <th>created</th>
            <th>updated</th>
          </tr>
          </thead>
          <tbody data-controller="check-toggle">
          <% @brands.each do |rec|%>
            <%
              its_readonly_row = @brand || @update_record&.id != rec.id
              st = @update_record.nil? & @new_brand.nil?
            %>
            <tr data-action=<%= "click->check-toggle#clickRow" if its_readonly_row %>>
              <%=
                if its_readonly_row
                  render 'brands/output_readonly_fields', rec: , st:
                else
                  render 'brands/output_update_fields', rec: , form:
                end
              %>
            </tr>
          <% end %>

          <%= render 'brands/add_row_new_brand', form: form  if @new_brand %>

          </tbody>
        </table>
        <%= form.submit if @new_brand || @update_record %>
    <% end %>
    </div>
    <footer>
      <%=
        button_to "ADD NEW BRAND",  :new_record_brands, class:"btn", method: :get  %><%=
      render 'brands/shows_EDIT_DELETE_BRAND_buttons' unless @brands.empty?
    %>
      <div class="form-check-toggle-controller">
        <%= button_to "DASHBOARD", :creator_dashboards, class:"btn", method: :get %>
      </div>
    </footer>
  <% end %>
</main>