<td class="cell read center">
  <input type="checkbox"
         id=<%= rec.id %>
         name="checkBox"
         <%= st & (@materials.last.id == rec.id) ? 'checked' : '' %>
    />
</td>

<td class="cell read"><%= rec.id %></td>
<td class="cell read"><%= rec.name %></td>
<td class="cell read"><%= rec.description %></td>
<td class="cell read"><%= rec.note %></td>
<td class="cell read"><%= rec.price %></td>
<td class="cell center">
  <input <%= rec.available ? 'checked' : '' %> type="checkbox" id="material_available" name="material[validated]" />
</td>
<td class="cell read"><%= rec.created_at %></td>
<td class="cell read"><%= rec.updated_at %></td>