<td class="cell read center">
  <input type="checkbox"
         id=<%= rec.id %>
         name='checkBox'
         data-action="check-toggle#toggle"
         data-check-toggle-target="check"
         checked
    />
</td>

<td class="cell read"><%= rec.id %></td>
<td class="cell center"><%= form.text_field :name, class:"input-cell" %></td>
<td class="cell read"><%= form.text_field :description, class:"input-cell" %></td>
<td class="cell read"><%= form.text_field :note, class:"input-cell" %></td>
<td class="cell read"><%= form.number_field :price, class:"input-cell", in: 0.001..100000.000, step:0.001 %></td>
<td class="cell read"><%= form.number_field :density, class:"input-cell", in: 0.001..100.000, step:0.001 %></td>
<td class="cell center"><%= form.check_box :available %></td>
<%= form.hidden_field :supplier_id, class:"input-cell" %>
<td class="cell center"><%= rec.created_at %></td>
<td class="cell center">will appear after saving</td>