<main class="container">
  <%= turbo_frame_tag "creator_dashboard_turbo_frame" do %>

<%= form_with model: @test, url: examinations_path do |form| %>
<div class="container">
  <div class="left_panel">
    <div class="circle"></div>
    <button class="btn-impo">START</button>
    <button class="btn-impo">STOP</button>
    <button class="btn-impo">^</button>
    <button class="btn-impo">|</button>
    <button class="btn-impo">>0<</button>
    <button class="btn-impo">PRINTER</button>
  </div>
    <div class="right-container">
    <div class="upper_panel">
        <div class="box">
            <label>Date</label>
            <%= form.text_field :created_at, class: 'inp'  %>
        </div>
        <div class="box">
            <label>Time trial, s</label>
            <%= form.text_field :total_time, class: 'inp' %>
        </div>
        <div class="box mt8">
          <span class="inp" ><%= "#{@brand_receipt.brand.name} ##{@brand_receipt.receipt_num}" %></span>
        </div>
      <div class="box">
        <label>Weight sample, gr</label>
          <%= form.text_field :weight_sample_gr, class: 'inp' %>
      </div>
        <div class="box">
          <label>Load, N</label>
          <%= form.text_field :load_n, class: 'inp' %>
        </div>
        <div class="box">
            <label>Speed, min <sup>-1</sup></label>
          <%= form.text_field :rot_speed, class: 'inp' %>
        </div>
      <div class="box">
        <label>Test number</label>
        <%= form.text_field :test_num, class: 'inp' %>
      </div>
    </div>
    <div class="main_panel">

    </div>
    <div class="lower_panel">
        <table>
            <thead>
                <tr>
                    <th>Torque 1, N</th>
                    <th>Time 1, s</th>
                    <th>Torque 2, N</th>
                    <th>Time 2, s</th>
                    <th>Torque 3, N</th>
                    <th>Time 3, s</th>
                    <th>Torque 4, N</th>
                    <th>Time 4, s</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= form.text_field :torque1, class: 'cell ' %></td>
                    <td><%= form.text_field :time1,   class: 'cell' %></td>
                    <td><%= form.text_field :torque2, class: 'cell ' %></td>
                    <td><%= form.text_field :time2,   class: 'cell' %></td>
                    <td><%= form.text_field :torque2, class: 'cell ' %></td>
                    <td><%= form.text_field :time3,   class: 'cell' %></td>
                    <td><%= form.text_field :torque4, class: 'cell ' %></td>
                    <td><%= form.text_field :time4,   class: 'cell' %></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Voltage, V</th>
                    <th>Current, A</th>
                    <th>Frequency, HZ</th>
                    <th>Power, W</th>
                    <th>Energy, kWh</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= form.text_field :mid_voltage,   class: 'cell' %></td>
                    <td><%= form.text_field :mid_current,   class: 'cell' %></td>
                    <td><%= form.text_field :mid_frequency, class: 'cell' %></td>
                    <td><%= form.text_field :mid_power,     class: 'cell' %></td>
                    <td><%= form.text_field :total_energy,  class: 'cell' %></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
    <div class="right_panel">
    <button class="btn-impo">Previous Tests</button>
    <button class="btn-impo">Open DB</button>
    <button class="btn-impo">Settings</button>
    <button class="btn-impo">?</button>
    <button class="btn-impo">Save to DB</button>
  </div>

</div>
<% end %>

  <% end %>
</main>