<td class="cell read center">
  <input type="checkbox"
         id=<%= rec.id %>
           name='brands'
         data-action="radio-toggle#toggle"
         data-radio-toggle-target="radio"
         checked
    />
</td>

<td class="cell read"><%= rec.id %></td>
<%= form.hidden_field :id, value: rec.id %>
<td class="cell center"><%= form.check_box :active, class:"input-cell" %></td>
<td class="cell read"><%= form.text_field :name, class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :mobile, class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :phone, class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :website, class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :contact_person, class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :note, class:"input-cell"%></td>
<td class="cell center read"><%= form.select :country, %w[Ukraine Europe China US Canada China], class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :address, class:"input-cell" %></td>
<td class="cell center"><%= form.number_field :reliability, in: 1..100, step: 1, class:"input-cell" %></td>
<td class="cell center"><%= form.check_box :producer, class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :product_list, class:"input-cell"%></td>
<td class="cell read"><%= form.text_field :image, class:"input-cell" %></td>
<%= form.hidden_field :created_id, class:"input-cell" %>
<td class="cell center"><%= rec.created_at %></td>
<td class="cell center">will appear after saving</td>