<tr>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
  <td class="cell"><%= form.text_field :short_name, class:"input-cell" %></td>
  <td class="cell"><%= form.select :material_id, select_material, class:"input-cell" %></td>
  <td class="cell"><%= form.number_field :amount_g, class:"input-cell" %></td>
  <td class="cell"><%= form.number_field :note, class:"input-cell" %></td>
  <td class="cell center">*</td>
  <td class="cell center">*</td>
   <%= form.hidden_field :brand_receipt_id, class:"input-cell" %>
  <td class="cell center">*</td>
</tr>